
html, * {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Arial, sans-serif;
}

body {
    margin-top: 70px;
}

footer {
    border-top: 1px dashed gray;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
}

.highlight * {
    font-family: 'Open Sans', sans-serif;
}

.post-list {
    
}